.window {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #ffffff;
  border: 1px solid #dadada;
  box-shadow: 0px 1px 5px rgba(0, 74, 116, 0.15);
  border-radius: 6px;
}
