$primary-blue: #0069ff;
$blue100: #eef5ff;
$white: #ffffff;
$grey100: #fbfcfd;
$grey200: #dadada;
$grey300: #a9adb1;
$grey400: #737373;
$black: #1d344b;
$error: #ff4f00;

.color-primary-blue {
  color: $primary-blue;
}

.color-blue100 {
  color: $blue100;
}

.color-white {
  color: $white;
}

.color-grey100 {
  color: $grey100;
}

.color-grey200 {
  color: $grey200;
}

.color-grey300 {
  color: $grey300;
}

.color-grey400 {
  color: $grey400;
}

.color-black {
  color: $black;
}

.color-error {
  color: $error;
}
